<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/favicon.ico"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Thiệp cưới</title>
  <meta name="description" content="I would rather share one lifetime with you than face all the ages of this world alone.">
  <meta name="keywords" content="Thiệp cưới">
  <link rel="stylesheet" href="/mvp.css">
</head>
<body>
<main>
  {{ if .Ok }}
  <section>
    <p>
      <label>URL:</label>
      <input value="{{ .Host }}/t/{{ .ImgHash }}" name="url" id="url" readonly>
    </p>
  </section>
  <section>
    <img src="{{ .Host }}/i/{{ .ImgHash }}" alt="Thiep">
  </section>
  <hr>
  {{ end }}
  <header>
    <h2>Thiệp cưới</h2>
    <a href="https://huyentrang.manhtai.com" target="_blank">Mạnh Tài &amp; Huyền Trang</a>
  </header>
  <section>
    <form>
      <select id="tpl" name="tpl">
        <option value="th" {{ if eq .Tpl "th" }}selected="selected"{{ end }}>Nhà trai</option>
        <option value="vq" {{ if eq .Tpl "vq" }}selected="selected"{{ end }}>Nhà gái</option>
      </select>
      <label for="text">Tên người nhận:</label>
      <input type="text" id="text" name="text" size="28" placeholder="Bạn..." value="{{ .Text }}"/>
      <button type="submit" id="submit">Gửi</button>
    </form>
  </section>
</main>
</body>
</html>